@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header 
{
margin: 45px 0px 25px 76px;

}
 .link-header 
 {

font-weight: 400;
font-size: 27px;
line-height: 21px;
color: #17233d;
cursor: pointer;
margin-right: 30px;

 }

 .button-header {

    background: rgb(30, 252, 1);
    border-radius: 5px;
    width: 124px;
    height: 51px;
    border: none;
    font-size: 25px;
    line-height: 32px;
    color: #ffffff;
    cursor: pointer;

 }

img

{
width: 590px;
height: 500px;
display: inline-block;

}

section {

display: inline-block;
width: 493px;
margin-left: 85px;
margin-top: 50px;
}

h1 {

   font-weight: 700; 
   font-size: 52px; 
    line-height: 80px;
    color: #161A49;
    letter-spacing: 0.6px;
    

}

p 
{ 
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #4B505A;
    letter-spacing: 0.5px;
    margin-top: 45px;
    margin-bottom: 55px;
   
}

.link-Ver {

    font-weight: 500;
    line-height: 27px;
    color: greenyellow;
    cursor: pointer;
    letter-spacing: 1px;
    margin-top: 15px;

    

}






